#main{
  display: flex;
  margin:0 auto;
  padding:20x;
}
#index {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}
h1{
  font-size: 5em;
}
h5{
  text-align: left;
  font-style: oblique;
}
div.intro {
  text-align: left;
}
#carouselExampleSlidesOnly {
  align-items: flex-end;
}

.carousel-height{
  height: 10em;
}

div.padded-h5 {
  padding-left: 13.5%;
  padding-right: 13.5%;
}
class="container" {
  transition: 0.6s ease;
}
.fade {transition: 0.6s ease;
  opacity: 1;
}
.fade:hover {background-color: #DEDCCB; opacity: 5;}
.fade:not(.show) {
    opacity: 1;
}
div.contrast{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
li {
    margin: 0 20px 0 0;
    transition: 0.6s ease;
}

div.christmasDay{
  position: relative;
}
img.christmasHat{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -12px;
    left: -15px;
}

.decemberCalendar td{
  cursor: pointer;
}

.mainContent{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.decemberCalendar td:hover {
    background: lightblue;

  }
.glasgoLogo{
  margin-bottom: 20px;
}

.neighbourhood{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


.card{
  transition: 0.6s ease;
  margin:20px;

}
.card:hover{
  transform: scale(1.1);
}

.card-text{
  padding:20px;
}

.img-fluid{
  height:200px;
  object-fit:cover;
}

.card-columns{
  display:flex;
  flex-wrap: nowrap;
}

.carousel-inner{
  max-height: 450px;
  width:98.65vw;
  object-fit: cover;
}
